<h1><%= @post.title %></h1>
<p>カテゴリ:<%= @post.category %></p>
<p>投稿日:<%= @post.created_at %></p>
<hr>
<p>本文<br>
<%= @post.body %></p>
<hr>

<%= link_to "編集", edit_post_path %>
<%= link_to "削除", post_path,method: :delete %>
